.app_wrapper {

  display: grid;
  grid-template-areas:
    "h h"
    "l c";
    grid-template-rows:
            80px 1fr;
    grid-template-columns: 2fr 10fr;
    /*grid-gap: 10px;*/


}
.app_header {
  grid-area: h;
  background-color: lawngreen;
  height: 70px;
}

.app_ul {
  grid-area: l;
  background-color: white;
}
.app_content {
  background-color: #cbc1c1;
  grid-area: c;
  color: black;
}
.app_content-img {
  width: 960px;
  height: 300px;

}